/* styling images inside blog */
a.post-thumbnail {
    display: block;
    width:100%;
    height: 300px;
}

a div.latest_post_link {
    display:block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}


p.text-cut {
    line-height: 1.5em;
    height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination-template a.page-link:hover, 
.pagination-template a.page-link.active {
    background: #1DA1F2 ;
    color: white;
}