#div_id_title,
#div_id_overview,
#div_id_content,
#div_id_thumbnail,
#div_id_categories,
.submit_button,
.post_title {
    width: 75%;
    margin: 1.5% auto;
}

.asteriskField {
    display: none;
}

#id_overview {
    resize: none;
}

br {
    display: inline-block;
    margin-top: 5px;
}