/* Styling profile info */
div.image_profile img{
    object-fit: cover;
    display: block;
    width: 100%;
}

/* Styling links */
a.article_link,
a.article_link:hover,
a.article_link:visited,
a.article_link:link {
    display: block;
    text-decoration: none;
}

a.article_link:hover {
    color: black;
}

/* Image in each link */
img.card-img-top {
    height:100%; 
    object-fit: cover;
}


/* Pagination */
.pagination-template a.page-link:hover, 
.pagination-template a.page-link.active {
    background: #1DA1F2 ;
    color: white;
}

@media(max-width: 997px) {
    div.info{
        margin-top: 20px;
    }
}