.asteriskField {
    display: none;
}

#id_text {
    resize: none;
}

button.btn.btn-primary {
    background:#1DA1F2;
    color: white;
    border: #1DA1F2; 
}

button.btn.btn-primary:hover {
    background:#0D74EB;
    color: white;
    border: #0D74EB; 
}

