/* Ancor tags for posts */
a,
a:hover,
a:visited {
    text-decoration: none;
}

a:hover {
    color: black;
}

a.article_link {
    display: block;
}

.search_value {
    color: grey;
}

/* Image in each link */
img.card-img-top {
    height:100%; 
    object-fit: cover;
}


/* Pagination */
.pagination-template a.page-link:hover, 
.pagination-template a.page-link.active {
    background: #1DA1F2 ;
    color: white;
}