{% extends "blogapp/base.html" %}

{% block title %}
    <title> about - {{ user.username }}</title>
{% endblock title %}

{% block content %}
    <h1 class='ml-3'>{{ user.username }} Profile</h1>
    <div class="row align-items-center flex-row-reverse">
        <div class="col-lg-6">
            <p> <strong>Email  /</strong>  {{ user.email}} </p>
            <p> <strong>Gender /</strong>  {{ user.get_gender_display }}</p>
        </div>
        <div class="col-lg-6">
            <div class="about-avatar">
                <img src="{{ user.profile.image.url }}" title="" alt="">
            </div>
        </div>
    </div>
{% endblock content %}

