{% extends "posts/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'users/css/form.css' %}">
    <link rel="stylesheet" href="{% static 'posts/css/footer_bottom.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/button.css' %}">
{% endblock style %}

{% block title %}
    <title>{{ user.username }} - Change password</title>
{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Change password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Change Password</button>
            </div>
        </form>
    </div>
{% endblock content %}