{% extends "posts/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    <title>Django Blog - register</title>
{% endblock title %}

{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'users/css/form.css' %}">
{% endblock style %}

{% block content %}
    <div class="container mt-4">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
    <div class="border-top pt-3 mb-4 container">
        <p class="text-muted">
            Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </p>
    </div>
{% endblock content %}