/* Styling Login Form */
div.container.mt-4,
.border-top.pt-3.mb-4.container {
    width: 70%;
    margin: auto;
    
}

#div_id_email,
#div_id_password {
    margin-top: 30px;
}

/* Hide asterisk symbol */
.asteriskField {
    display: none;
}

/* Styling login button */
.btn.btn-primary {
    background-color: #1991db;
    border-color:#1DA1F2 ;
    color: white;
}
.btn.btn-primary:hover {
    background-color: rgb(13, 116, 235);
}

/* Custom styles for register page */
li {
    list-style-type: none;
}