/* your styles go here */

/* Navbar styling */
.navbar .navbar-nav a.nav-link:hover {
    color: #1DA1F2;
}

.navbar .search-btn:hover {
    color: #1DA1F2;
}

/* Footer styling */
footer.main-footer {
    padding-top: 30px;
}

footer.main-footer .copyrights {
    margin-top: 10px;
}
