{% extends "posts/base.html" %}


{% block title %}
    <title>Article - {{ object.title }}</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
            <div class="container">
                <div class="post-single">
                <div class="post-thumbnail"><img src="{{ object.thumbnail.url }}" alt="..." class="img-fluid"></div>
                <div class="post-details">
                    <div class="post-meta d-flex justify-content-between">
                        <div class="category">

                            {% for category in object.categories.all %}
                                <a href="{% url 'search-posts' %}?tag={{ category.title }}">{{ category.title }}</a>
                            {% endfor %}

                        </div>
                        {% if user.is_authenticated %}
                            {% if object.author == user %}
                                <div class="links">
                                    <a class='btn btn-secondary btn-sm mt-1 mb-1' href="{% url 'post-update' object.id %}">Update</a>
                                    <a class='btn btn-danger btn-sm mt-1 mb-1' href="{% url 'post-delete' object.id %}">Delete</a>
                                </div>
                            {% endif %}
                        {% endif %}
                        
                    </div>
                    <h1>{{ object.title }}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                    <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                        <div class="avatar"><img src=" {{ object.author.profile.image.url }}" alt="..." class="img-fluid"></div>
                        <div class="title"><span>{{ object.author.username }}</span></div></a>
                        <div class="d-flex align-items-center flex-wrap">       
                            <div class="date"><i class="icon-clock"></i> {{ object.date_posted }}</div>
                            <div class="views"><i class="icon-eye"></i> {{ object.view_count }}</div>
                            <div class="comments meta-last"><i class="icon-comment"></i>{{ object.post_comments.count }}</div>
                        </div>
                    </div>

                    <div class="post-body">
                        {{ object.content|safe}}
                    </div>
                  
                    <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                        {% if previous_post %}
                            <a href="{{ previous_post.get_absolute_url }}" class="prev-post text-left d-flex align-items-center">
                                <div class="icon prev">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                                <div class="text">
                                    <strong class="text-primary">Previous Post </strong>
                                    <h6>{{ previous_post.title }}</h6>
                                </div>
                            </a>
                        {% endif %}

                        {% if next_post %}
                            <a href="{{ next_post.get_absolute_url }}" class="next-post text-right d-flex align-items-center justify-content-end">
                                <div class="text">
                                    <strong class="text-primary">Next Post </strong>
                                    <h6>{{ next_post.title }}</h6>
                                </div>
                                <div class="icon next">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </a>
                        {% endif %}
                    </div>
                    
                <div class="post-comments">
                    <header>
                        <h3 class="h6">Post Comments: <span class="no-of-comments">{{ object.post_comments.count }}</span></h3>
                    </header>
                    <div class='comments_container'>
                        {% for comment in object.post_comments.all|dictsortreversed:"date_posted" %}
                        <div class="comment">
                            <div class="comment-header d-flex justify-content-between">
                                <div class="user d-flex align-items-center">
                                    <div class="image">
                                        <img src="{{ comment.owner.profile.image.url }}" alt="..." class="img-fluid rounded-circle">
                                    </div>
                                    <div class="title">
                                        <strong>{{ comment.owner.username }}</strong>
                                        <span class="date">{{ comment.date_posted }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>{{ comment.text }}</p>
                                {% if user.is_authenticated %}
                                    {% if comment.owner == user %}
                                        <a class='btn btn-secondary btn-sm mt-1 mb-1' href="{% url 'comment-update' object.id comment.id %}">Update</a>
                                        <a class='btn btn-danger btn-sm mt-1 mb-1' href="{% url 'comment-delete' object.id comment.id %}">Delete</a>
                                    {% elif object.author == user %}
                                        <a class='btn btn-danger btn-sm mt-1 mb-1' href="{% url 'comment-delete' object.id comment.id %}">Delete</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                    <!-- Add new Comment Form -->
                    {% if user.is_authenticated %}
                    <div class="add-comment">
                        <header>
                        <h3 class="h6">Leave a reply</h3>
                        </header>
                        <form action="{% url 'comment-create' object.id %}" class="commenting-form" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <textarea name="text" id="id_text" placeholder="Type your comment" class="form-control comment_text"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-secondary add_comment">Submit Comment</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </main>

        {% include 'posts/aside.html' with latest_posts=latest_posts categories=categories %}

    </div>
</div>

{% endblock content %}

{% load static %}
{% block scripts %}
    <script src="{% static 'posts/js/add_comment.js' %}"></script>
{% endblock scripts %}
 
