{% extends "posts/base.html" %}

{% block title %}
    <title> {{ view.kwargs.username }} articles</title>
{% endblock title %}

{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static 'posts/css/user_posts.css' %}">
  
  {% if not posts %}
    <link rel="stylesheet" href="{% static 'posts/css/footer_bottom.css' %}">
  {% endif %}
{% endblock style %}

{% block content %}
  <div class="container mt-4">
    
    <!-- User info -->
    <div class="profile_container">
      <img class="avatar" src="{{ aboutuser.profile.image.url }}">
      <div class="info">
        <p><strong>Username: </strong>{{ aboutuser.username }}</p>
        <p><strong>Email: </strong>{{ aboutuser.email }}</p>
        <p><strong>Gender: </strong>{{ aboutuser.get_gender_display }}</p>
      </div>
    </div>

    <h2 class='mb-4 mt-4'>Posts By: {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h2>
    <!-- Display all results -->
      {% for post in posts %}
        <a href="{{ post.get_absolute_url }}" class="article_link">
          <div class="card mb-3">
            <div class="row d-flex align-items-stretch">
              <div class="col-lg-3">
                <img class="card-img-top" src="{{ post.thumbnail.url }}" alt="Card image cap">
              </div>
              <div class="card-body col-lg-9">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.overview }}</p>
                <p class="card-text"> Created By: {{ post.author.username }}</p>
                <p class="card-text">Created at: {{ post.date_posted }}</p>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}

    <!-- Pagination -->
    {% if is_paginated %}
        {% if page_obj.has_previous %}
          <a class='btn btn-outline-info mb-4' href="?page=1">First</a>
          <a class='btn btn-outline-info mb-4' href="?page={{ page_obj.previous_page_number}}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if num == page_obj.number %}
            <a class='btn btn-info mb-4' href='?page={{ num }}'>{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class='btn btn-outline-info mb-4' href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class='btn btn-outline-info mb-4' href='?page={{ page_obj.paginator.num_pages }}'>Last</a>
        {% endif %}
    {% endif %}
  </div>
{% endblock content %}