{% extends "posts/base.html" %}

{% block title %}
    <title> {{ view.kwargs.username }} articles</title>
{% endblock title %}

{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static 'posts/css/user_posts.css' %}">
  
  {% if not posts %}
    <link rel="stylesheet" href="{% static 'posts/css/footer_bottom.css' %}">
  {% endif %}
{% endblock style %}

{% block content %}
  <div class="container mt-4">
    
    <!-- User info -->
    <div class="profile_container">
      <div class="row align-items-center h-100">
        <div class='image_profile col-lg-5'>
          <img src="{{ aboutuser.profile.image.url }}">
        </div>
        <div class="col-lg-6 ml-4 info">
          <p class="account-heading"><strong>Username: </strong>{{ aboutuser.username }}</p>
          <p class="account-heading"><strong>Email: </strong>{{ aboutuser.email }}</p>
          <p class="account-heading"><strong>Gender: </strong>{{ aboutuser.get_gender_display }}</p>
        </div>
      </div>
    </div>

    <h2 class='mb-4 mt-4'>Posts by: {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h2>
    <!-- Display all results -->
      {% for post in posts %}
        <a href="{{ post.get_absolute_url }}" class="article_link">
          <div class="card mb-3">
            <div class="row d-flex align-items-stretch">
              <div class="col-lg-3">
                <img class="card-img-top" src="{{ post.thumbnail.url }}" alt="Card image cap">
              </div>
              <div class="card-body col-lg-9">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.overview }}</p>
                <p class="card-text"> Created by: {{ post.author.username }}</p>
                <p class="card-text">Created at: {{ post.date_posted }}</p>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}

    <!-- Pagination -->
    {% if is_paginated %}
      <nav aria-label="Page navigation example" class='mb-4'>
        <ul class="pagination pagination-template d-flex justify-content-center">

          {% if page_obj.has_previous %}
            <li class="page-item"><a href="?q={{ request.GET.q }}&tag={{ request.GET.tag }}&page={{ page_obj.previous_page_number}}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
              <li class="page-item"><a href='?q={{ request.GET.q }}&tag={{ request.GET.tag }}&page={{ num }}' class="page-link active">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <li class="page-item"><a href="?q={{ request.GET.q }}&tag={{ request.GET.tag }}&page={{ num }}" class="page-link">{{ num }}</a></li>  
            {% endif %}
          {% endfor %}
          
          {% if page_obj.has_next %}
            <li class="page-item"><a href="?q={{ request.GET.q }}&tag={{ request.GET.tag }}&page={{ page_obj.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>
{% endblock content %}